@media only screen and (min-width: 425px) {
  .form-input,
  select,
  .search-input {
    width: 400px;
    height: 50px;
  }

  .food-container {
    width: 400px;
  }

  .food-image {
    width: 400px;
    height: 300px;
  }

  .food-category {
    margin-left: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .header-content {
    align-items: center;
    justify-content: start;
  }

  .logo {
    font-size: 7rem;
  }

  .slogan {
    font-size: 2rem;
  }

  .form-input,
  select,
  .search-input {
    width: 700px;
    height: 70px;
    font-size: 30px;
    padding-left: 20px;
  }

  label,
  .btn {
    font-size: 30px;
  }

  .btn {
    height: 70px;
  }

  .search-form {
    padding-bottom: 20px;
  }

  .meal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .food-container {
    width: 350px;
    margin-top: 0px;
  }

  .food-image {
    width: 350px;
    height: 250px;
  }

  .food-category {
    margin-left: 300px;
  }

  footer p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .header-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
  }

  .logo {
    font-size: 7rem;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .form-input,
  select,
  .search-input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
  }

  label,
  .btn {
    font-size: 16px;
  }

  .btn {
    height: 40px;
  }

  /* .search-form {
    width: 92%;
    text-align: left;
  } */

  .btn-search {
    margin-top: 0;
  }

  .meal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .food-container {
    width: 300px;
    margin-top: 0px;
  }

  .food-image {
    width: 300px;
    height: 200px;
  }

  .food-category {
    margin-left: 250px;
  }

  footer p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1336px) {
  .logo {
    font-size: 8rem;
  }

  .slogan {
    font-size: 2rem;
  }

  .form-input,
  select,
  .search-input {
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
  }

  label,
  .btn {
    font-size: 20px;
  }

  .btn {
    height: 50px;
  }

  /* .search-form {
    width: 92%;
    text-align: left;
  } */

  .food-container {
    width: 400px;
  }

  .food-image {
    width: 400px;
    height: 300px;
  }

  .food-category {
    margin-left: 350px;
  }
}
