* {
  margin: 0;
  box-sizing: border-box;
  color: rgb(245, 221, 11);
  font-family: "poppins", sans-serif;
  font-weight: 900;
}

/* Header styling starts here */
.header {
  width: 100%;
  min-height: 90vh;
  background-image: url("../img/bg-picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5%;
}

.header-content {
  background: rgba(14, 12, 12, 0.7);
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  font-family: "barlow", sans-serif;
  font-size: 3rem;
  color: #ff5900;
  text-align: center;
}

.slogan {
  font-size: 1rem;
  color: #ff5900;
  text-align: center;
}

.create-form {
  background: rgba(225, 89, 0, 0.5);
  border: solid 2px #fa803e;
  border-radius: 5px;
  margin-top: 1%;
}

.btn-wrapper {
  text-align: center;
}

.form-input,
select,
.search-input {
  background: #ff5900;
  color: rgb(245, 221, 11);
  border: solid 2px #fa803e;
  width: 300px;
  height: 40px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

.btn {
  background: #fa803e;
  border: none;
  height: 40px;
  margin-top: 20px;
  color: rgb(245, 221, 11);
  font-family: "barlow", sans-serif;
  font-size: 16px;
}

.btn:hover {
  background: #ff5900;
}
/* Header styling ends here */

/* Main part styling starts here */
.main-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.search-form {
  text-align: center;
}

.btn-search {
  margin-top: 1%;
}

.search-input {
  background: #fff;
  border: solid 2px #ff5900;
}

.food-container {
  background: #ff5900;
  width: 300px;
  margin-top: 5%;
}

.food-image {
  width: 300px;
  height: 200px;
  z-index: -5;
}

.food-category {
  z-index: 1;
  position: absolute;
  background: #ff5900;
  padding: 5px;
  border-radius: 10px;
  margin-left: 250px;
}

.food-info {
  margin-left: 10px;
}

a {
  color: rgb(100, 94, 39);
  text-decoration: none;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

footer p {
  color: #ff5900;
  font-size: 12px;
}
/* Main part styling ends here */

/* API KEY: keyMhXE3U8DOQPgSG */
